html {
    height: 100%;
    box-sizing: border-box;
  }

body {
    box-sizing: inherit;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: #cce1ee;
  }

p {
    margin: 0;
}

a {
    color: #cce1ee;
}

header {
    background: #112233;
    position: relative;
}
header h1 {
    font-size: 32px;
    margin: 0;
    padding-left: 2rem;
    color: #cce1ee;
}
header a {
    text-decoration: none;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
}
.nav-button {
    display: inline-block;
    color: #cce1ee;
    width: 100px;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 1px #cce1ee;
    position: relative;
}
.nav-button:hover {
    box-shadow: 0 0 2px #cce1ee;
}
.nav-button a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-content {
    background: #ff00ff;
}
.content {
    display: inline-block;
    margin: 1rem;
    width: 30%;
    height: 100%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 8px;
}
.content h1 {
    font-size: 24px;
    margin: 0;
    padding-left: 1rem;
    color: #112233;
}
.content p {
    padding: 0 1rem;
    color: #112233;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: #112233;
    text-align: center;
}
footer p {
    color: #cce1ee;
}