body {
    /*background-color: #112233;*/
    background-color: #ffffff;
}

header {
    background-color: #112233;
    color: #cce1ee;
}

header a, header a:visited {
    color: #cce1ee;
}

header a:hover, header a:active {
    text-decoration: none;
}

header h1 {
    font-family: 'Vollkorn SC';
    font-size: 48px;
}

header img {
    max-width: 125px;
    max-height: 125px;
}

header nav {
    background-color: #001122;
}

header .nav-item:hover {
    background-color: #334455;
}

header .nav-item:active {
    background-color: #556677;
}

header .nav-link:hover, header .nav-link:active {
    color: #00a0ff;
}


section {
    background-color: #ffffff;
    color: #112233;
}

section .card-header {
    background: #eeeef1;
}

section .card-body {
    background: #ffffff;
}

section .profile-pic {
    max-width: 200px;
    max-height: 200px;
}

section .nav-item {
    background: #eeeef1;
}

section .nav-link, section .nav-link:visited {
    color: #000000;
}

section .nav-link:hover, section .nav-link:active {
    text-decoration: none;
    color: #00a0ff;
}

section .privacy {
    font-size: 12px;
}

button {
    background-color: #112233;
    color: #cce1ee;
}

button:hover {
    background-color: #334455;
    color: #00a0ff;
}

button:active {
    background-color: #556677;
    color: #00a0ff;
}


footer {
    background-color: #112233;
    color: #cce1ee;
}

canvas {
    border: 5px solid #0000a0;
    border-bottom: none;
    background: #ffffff;
}

.bg-test {
    background-color: #ff00ff;
}